@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-size: 100% 150%;
  padding: 1rem 1rem 3rem;
  background-image: url(imagenes/darren-lawrence-K4BsLPTjKJA-unsplash.jpg);
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  height: 445px;
}

h1 {
  font-family: "Lato", sans-serif;
  font-size: 4.5rem;
  color: wheat;
  padding: 1rem;
}
.finder-container {
  display: flex;
  justify-content: center;
  background-color: transparent;
  padding: 0.625rem;
  width: 100%;
  border-radius: 0.375rem;
}
.filter-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  column-gap: 0.7rem;
  row-gap: 0.3rem;
  margin-top: 1rem;
}

.filter-Icon {
  background-size: 1rem 1rem;
  background-repeat: no-repeat;
  height: 2.4rem;
  max-width: 18rem;
  flex: 1;
  font-size: 0.93rem;
  font-family: Arial, Helvetica, sans-serif;
  background-position-x: 0.312rem;
  background-position-y: center;
  background-color: wheat;
}

.filter-country {
  background-image: url("imagenes/PixCut-removebg.png");
  position: relative;
  border: 1px solid white;
  padding-left: 1.5rem !important;
  width: 100%;
}

.filter-date-from {
  background: url("data:image/svg+xml,%3csvg fill-opacity='0.7' width='17' height='20' viewBox='0 0 17 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e %3cpath d='M5.81286 11.5469C5.53948 11.852 5.53948 12.3467 5.81286 12.6518C6.08625 12.9569 6.52945 12.9568 6.8028 12.6517L8.6837 10.5525C8.95915 10.2451 8.95358 9.74889 8.6837 9.44768L6.80277 7.34845C6.52942 7.04333 6.08621 7.04337 5.81283 7.34845C5.53944 7.65353 5.53944 8.14822 5.81283 8.45334L6.49876 9.21885L0.699999 9.21881C0.313425 9.21881 0 9.56858 0 10.0001C0 10.4315 0.31339 10.7813 0.699999 10.7813L6.49879 10.7814L5.81286 11.5469Z' fill='black'/%3e %3cpath d='M16.1698 0H4.75981C4.3732 0 4.05981 0.349766 4.05981 0.78125V3.75C4.05981 4.18148 4.3732 4.53125 4.75981 4.53125C5.14642 4.53125 5.45981 4.18148 5.45981 3.75V1.5625H15.4698V18.4375H5.45981V16.25C5.45981 15.8185 5.14642 15.4688 4.75981 15.4688C4.3732 15.4688 4.05981 15.8185 4.05981 16.25V19.2188C4.05981 19.6502 4.3732 20 4.75981 20H16.1698C16.5564 20 16.8698 19.6502 16.8698 19.2188V0.78125C16.8698 0.349766 16.5564 0 16.1698 0Z' fill='black'/%3e %3c/svg%3e")
    no-repeat;
  background-size: 1.5rem 2rem;
  position: relative;
  border: 1px solid white;
  padding-left: 1.5rem !important;
  width: 100%;
  background-color: wheat;
}
.filter-date-to {
  background: url("data:image/svg+xml,%3csvg fill-opacity='0.7' width='17' height='20' viewBox='0 0 17 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e %3cpath d='M13.801 11.4266C13.5281 11.7316 13.5281 12.2262 13.801 12.5312C14.0738 12.8363 14.5161 12.8362 14.7889 12.5312L16.6659 10.4323C16.9408 10.125 16.9352 9.62882 16.6659 9.32766L14.7888 7.22879C14.516 6.92372 14.0737 6.92376 13.8009 7.22879C13.5281 7.53381 13.5281 8.02842 13.8009 8.33349L14.4854 9.09887L8.69857 9.09883C8.31278 9.09883 8 9.44854 8 9.87995C8 10.3114 8.31275 10.6611 8.69857 10.6611L14.4855 10.6611L13.801 11.4266Z' fill='black'/%3e %3cpath d='M0.69839 20H12.0817C12.4674 20 12.78 19.6502 12.78 19.2188V16.25C12.78 15.8185 12.4674 15.4688 12.0817 15.4688C11.696 15.4688 11.3833 15.8185 11.3833 16.25V18.4375H1.39675L1.39675 1.5625H11.3833V3.75C11.3833 4.18148 11.696 4.53125 12.0817 4.53125C12.4674 4.53125 12.78 4.18148 12.78 3.75V0.78125C12.78 0.349766 12.4674 0 12.0817 0H0.69839C0.312685 0 2.91998e-05 0.349766 2.91998e-05 0.78125L2.91998e-05 19.2188C2.91998e-05 19.6502 0.312685 20 0.69839 20Z' fill='black'/%3e %3c/svg%3e")
    no-repeat;
  background-size: 1.5rem 2rem;
  position: relative;
  border: 1px solid white;
  padding-left: 1.5rem !important;
  width: 100%;
  background-color: wheat;
}

.filter-price {
  background: url("data:image/svg+xml,%3csvg fill-opacity='0.7' width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e %3cpath d='M11.8001 10.9C9.53007 10.31 8.80007 9.7 8.80007 8.75C8.80007 7.66 9.81007 6.9 11.5001 6.9C13.2801 6.9 13.9401 7.75 14.0001 9H16.2101C16.1401 7.28 15.0901 5.7 13.0001 5.19V3H10.0001V5.16C8.06007 5.58 6.50007 6.84 6.50007 8.77C6.50007 11.08 8.41007 12.23 11.2001 12.9C13.7001 13.5 14.2001 14.38 14.2001 15.31C14.2001 16 13.7101 17.1 11.5001 17.1C9.44007 17.1 8.63007 16.18 8.52007 15H6.32007C6.44007 17.19 8.08007 18.42 10.0001 18.83V21H13.0001V18.85C14.9501 18.48 16.5001 17.35 16.5001 15.3C16.5001 12.46 14.0701 11.49 11.8001 10.9Z' fill='black'/%3e %3c/svg%3e")
    no-repeat;
  background-size: 1.5rem 2rem;
  position: relative;
  border: 1px solid white;
  padding-left: 1.5rem !important;
  width: 100%;
  background-color: wheat;
}
.filter-sizes {
  background: url(imagenes/bed_2519670.png) no-repeat;
  background-size: 1.5rem 2rem;
  position: relative;
  border: 1px solid white;
  padding-left: 1.5rem !important;
  width: 100%;
  background-color: wheat;
}
.filter-clear {
  height: 2.4rem !important;
  align-self: center;
  max-width: 6.06rem;
  border: 2px solid #ffffff;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: var(--filter-font-btn-lg) !important;
  color: black;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 2.5rem;
  color: black;
  padding: 1rem 1rem 1rem 1rem;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  /* color: #424138; */
  color: black;
  padding: 1rem 1rem 1rem 1rem;
}

.card-container {
  display: flex;
  background-color: rgba(255, 255, 255, 1);
  font-family: "Roboto", sans-serif;
  margin: 105px;
}

.section-cards {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto auto auto;
  margin: 25px -110px 0px -95px;
}

.card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: normal;
  width: 94%;
  height: 28vw;
  margin-top: 0.875rem;
  color: #ffffff;
  font-size: 0.875rem;
  overflow: hidden;
  border-radius: 1rem;
}

.card::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(
    224.24% 668.5% at 14.41% -14.14%,
    rgba(0, 0, 0, 0.57) 44.5%,
    rgba(255, 255, 255, 0) 67.11%
  );
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.657) 76.46%
  );
}

.imghotel {
  width: 100%;
  height: 100%;
}
.Hotel_name {
  position: absolute;
  font-family: "Lato", sans-serif;
  font-size: 1.75rem;;
  color: rgba(255, 255, 255, 1);
  margin: 237px 8px 17px 3px;
  z-index: 2;
}

.HotelCard__CountryName {
  position: absolute;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  margin: -90px 0px 0px 23px;
  color: rgba(255, 255, 255, 1);
}

.HotelCard_Room {
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: rgba(255, 255, 255, 1);
  margin: -49px 0px 0px 19px;
}

.HotelCard_Price {
  position: absolute;
  color: rgba(255, 255, 255, 1);
  margin: -49px 0px 0px 93px;
  display: none;
}
.HotelCard__Info {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  justify-items: flex-end;
  z-index: 2;
}
.HotelCard__Country {
  position: relative;
  display: flex;
  width: 29px;
  height: 27px;
  padding-top: 0.375rem;
}
.Hotel_Flag {
  position: absolute;
  height: 67%;
  width: 69%;
  top: 0;
  left: 0;
  margin: -65px 0px 0px 17px;
  z-index: 1;
}
.Hotel_price {
  position: absolute;
  font-size: 1rem;
  color: rgba(255, 255, 255, 1);
  padding: 0%;
  margin: -50px 1px 1px 94px;
}

.room_Stock {
  font-size: 1rem;
  color: rgba(255, 255, 255, 1);
  padding: 0%;
  margin: -50px 1px 1px 39px
}
.romm_ {
  font-size: 1rem;
  color: rgba(255, 255, 255, 1);
  padding: 0%;
  margin: -50px 1px 1px 2px
}
